body {
    background-color: rgba(0, 0, 0, .18);
}

li.table-dragging {
    box-shadow: 3px 3px 5px 6px #ccc;
}

.sortable-table-container {
    width: 400px;
}

ul.sortable-table {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    > li.item {
        transition: box-shadow .25s ease-in-out;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #FFF;
        height: 60px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .18);
        }

        > .handle {
            width: 40px;
            height: 40px;
            background-color: #DDD;
            margin: 0 10px;
        }

        > .text {

        }
    }
}
